/* Ajustes específicos para la página de elección (si los hay) */
.justicia-card:hover .card-icon {
    text-shadow: 0 0 8px #5f7f9e;
}
.obsesion-card:hover .card-icon {
    text-shadow: 0 0 8px #b56576;
}

.rain-bg {
    position: fixed;  /* Esto es lo que queremos */
}